.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100vh;
}

ul {
  list-style: none;
}

.Listings {
  height: 60vh;
  overflow-y: auto;
}

.listing {
  display: flex;
  padding: 10px;
}

.listing img {
  width: 50px;
  height: 50px;
}

.listing .date {
  font-size: 0.75rem;
  color: #888;
  padding: 8px;
}

.listing a {
  text-decoration: none;
}

.listing a:hover {
  text-decoration: underline;
}

.listing .price {
  padding: 6px;
}

.listing .price span {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 3px;
  font-size: 0.75rem;
  font-weight: lighter;
}


.MakeListing {
  height: calc(40vh - 2px);
  width: 100vw;
  background-color: #ccc;
  border-top: 2px dashed black;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.MakeListing label {
  width: 80%;
  display: flex;
  justify-content: space-around;
}

.MakeListing label span {
  width: 180px;
}

.MakeListing textarea {
  resize: none;
  height: 70px;
  width: 250px;
}

.MakeListing input {
  width: 250px;
}

.MakeListing.waiting img {
  display: initial;
}

.MakeListing.waiting label,
.MakeListing.waiting button {
  display: none;
}

.MakeListing:not(.waiting) img {
  display: none;
}

.MakeListing:not(.waiting) label,
.MakeListing:not(.waiting) button {
  display: flex;
}
