ul {
  list-style: none;
}

.listing {
  display: flex;
  padding: 10px;
}

.listing img {
  width: 50px;
  height: 50px;
}

.listing .date {
  font-size: 0.75rem;
  color: #888;
  padding: 8px;
}

.listing a {
  text-decoration: none;
}

.listing a:hover {
  text-decoration: underline;
}

.listing .price {
  padding: 6px;
}

.listing .price span {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 3px;
  font-size: 0.75rem;
  font-weight: lighter;
}
